@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.analyse {
  max-width: 1400px;
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  @apply mt-40;

  .submit-button {
    @apply bg-primary ml-auto mt-12 text-white p-4 rounded-full font-bold;
  }

  .header {
    @apply flex items-center justify-between mb-6;
  }

  .total-score-container {
    @apply ml-auto;
  }

  .category-scores {
    @apply pr-10 flex-1 flex gap-4;

    .score-pill {
      @apply rounded-xl w-full overflow-hidden flex-1 relative cursor-pointer flex gap-2 justify-center items-center;
    }

    .score-bar {
      position: absolute;
      z-index: 1;
    }

    .cat-wrapper {
      @apply py-3 font-bold flex z-10 items-center justify-center;
    }

    .category-name {
      @apply relative z-10;
    }

    .percentage-bar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      z-index: 0;
      transition: all 0.4s ease;
      background-color: #48c9b0;
    }

    .score-display-wrapper {
      width: 0%;
      overflow: hidden;
      position: relative;
      transition: all 0.4s ease;
      @apply relative z-10;
    }

    .score-display {
      padding-left: 10px;
    }

    .score-pill.active {
      background-color: #d1d1d1;
      .cat-wrapper {
        @apply text-white;
      }
      .score-display-wrapper {
        width: 100%;
      }
    }
  }
  .total-score-value {
    @apply text-3xl font-bold;
  }

  .analyse-text {
    line-height: 2.2;
    font-size: 1.1rem;
    white-space: pre-wrap;
    @apply flex-1;
  }

  .error-highlight {
    text-decoration: underline wavy red;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    cursor: pointer;
  }

  .error-highlight-changed {
    background-color: #50e4c6;
    padding: 0 4px;
    cursor: pointer;
  }

  .analyse-sidebar {
    @apply flex-1 max-w-[400px];

    .error-dropdown {
      @apply w-full ml-auto mb-4  font-bold flex gap-4 items-center bg-white p-2 rounded-lg cursor-pointer;
    }

    .dropdown-circle {
      @apply ml-auto text-gray-400 transition-all;
    }

    .error-pill {
      background-color: #48c9b0;
      @apply text-sm rounded-full text-white w-[23px] h-[23px] flex items-center justify-center;
    }

    .error-wrapper {
      @apply hidden mb-6;
    }

    .error-dropdown.active {
      .dropdown-circle {
        @apply rotate-180;
      }
      & + .error-wrapper {
        @apply block;
      }
    }

    .error-item {
      @apply w-full text-left mb-4 p-4 bg-white rounded-lg shadow-md hover:bg-[#3498db26] hover:border-[#3498db4d] border-2 border-transparent transition-all;
    }

    .error-word {
      @apply font-bold mb-2;
    }

    .error-message {
      @apply italic;
    }
  }
}

.suggestion-modal {
  animation: fade-in 0.3s ease-out forwards;

  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex items-center justify-center z-50;

  .inner {
    animation: scale-in 0.3s ease-out forwards;
    @apply bg-white p-6 rounded-lg;

    button {
      @apply font-bold mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-all;
    }
    .close-button {
      @apply bg-gray-400 hover:bg-gray-600;
    }
  }
}
