.button {
  @apply inline-flex self-start gap-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 aria-disabled:cursor-not-allowed aria-disabled:opacity-50 disabled:opacity-50 disabled:pointer-events-none hover:shadow-md hover:scale-105 text-lg px-4 py-[8px];
}

.primary-button {
  @apply button items-center justify-center rounded-full bg-primary  text-white transition-colors hover:bg-secondary focus-visible:outline-blue-500 font-bold;
}

.outline-button {
  @apply button items-center justify-center border border-orange-400 rounded-full bg-white  font-bold;
}

.text-button {
  @apply button px-4  transition-colors items-center hover:text-secondary;
}

.danger-button {
  @apply button items-center rounded-2xl bg-red-500 hover:bg-red-400 text-white px-4 py-2  transition-colors;
}

.bold-button {
  @apply button items-center justify-center rounded-xl bg-primary text-white transition-colors hover:bg-secondary focus-visible:outline-blue-500 font-bold relative overflow-hidden;

  &.dark-blue {
    @apply bg-darkBlue hover:bg-slate-700;
  }

  &:after {
    background: #fff;
    @apply bg-white h-[155px] left-[-75px] opacity-[.2] absolute top-[-50px] rotate-[35deg] w-[50px] z-[0];
    content: "";
    transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    &:after {
      @apply left-[120%];
      transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
