.cards {
  @apply relative grid sm:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-6 mb-8 w-full;
}

.cards-item {
  @apply relative w-full h-64 rounded-xl shadow-lg flex items-center justify-center  transition-colors font-bold text-xl;
}

.course-card {
  @apply relative w-full max-w-[300px] sm:w-full bg-white/60 backdrop-blur-md border border-[#d0e7ff] rounded-3xl shadow-md overflow-hidden transition-all duration-300 flex flex-col p-4 sm:p-2;
}

.course-card-image-wrapper {
  @apply relative h-48 overflow-hidden z-10 flex justify-center p-2;
}

.course-price {
  @apply text-xl font-bold text-orange-500 mb-5;
}
