.checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
}

.checkbox-wrapper label {
  cursor: pointer;
  padding-left: 12px;
  user-select: none;
  padding: 15px 20px 15px 60px;
  border: 1px solid #d1d9e5;
  border-radius: 20px;
}

.checkbox-wrapper .box {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  flex: 0 0 auto;
  background-color: #fff;
  border: 2px solid #d1d9e5;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  display: block;
  text-indent: -9999px;
  padding: 0;
}

.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.checkbox-wrapper input[type="checkbox"]:checked + .box {
  border-color: #4fbbff;
  @apply bg-primary;
}

.checkbox-wrapper input[type="checkbox"]:checked ~ label:not(.box) {
  @apply shadow-lg;
}
