.modal-wrapper {
  @apply fixed inset-0 h-full z-50 overflow-y-auto flex items-start justify-center bg-black bg-opacity-0 transition-all duration-500;
}

.modal-wrapper.animate-in {
  @apply bg-opacity-30;
}

.modal {
  @apply block opacity-0 translate-y-[-50px] w-[calc(100%-2rem)] lg:w-[1024px]  bg-white transition-all duration-500 rounded-xl shadow-xl mt-20 mb-20;
}

.modal.small {
  @apply lg:w-[500px];
}

.modal-wrapper.animate-in .modal {
  @apply opacity-100 translate-y-0;
}

.modal-header {
  @apply flex justify-end pt-4 px-2;
}

.modal-content {
  @apply flex flex-col items-start px-4 py-4;
}
