.video-player {
  @apply mb-6 text-darkBlue;

  .video-wrapper {
    @apply relative w-full  md:flex-[3] rounded-2xl overflow-hidden;
  }

  video {
    @apply w-full;
  }

  .player {
    @apply flex flex-col gap-8;
  }

  .playlist {
    @apply relative  flex flex-col;

    button {
      @apply text-left w-full border px-4 py-3  mb-2 rounded-lg font-bold;
      &.active {
        @apply bg-primaryLight;
      }
    }
  }

  .init-play {
    @apply hidden lg:block text-white absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-10;
  }
}
