.admin-cards-wrapper {
  @apply relative grid sm:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-6 mb-8 w-full;
}

.admin-cards-wrapper-item {
  background-image: url("/course-bg.jpg");
  background-size: cover;
  @apply relative w-full h-64 rounded-xl shadow-lg flex items-center justify-center  transition-colors font-bold text-xl;
}

.admin-card-actions {
  @apply flex  justify-end absolute bottom-[3px] left-0 right-0 w-full text-white;
}

.admin-card-actions button {
  @apply py-3 px-4;
}
